rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // --- Entity: Visitor Rules ---
    match /visitors/{visitorId} {
      allow read, write: if true;
    }

    // --- Entity: SystemSettings Rules ---
    match /system_settings/{settingsId} {
      allow read, write: if true;
    }

    // --- Entity: User Accounts Rules (Library Users) ---
    match /library_users/{userId} {
      allow read, write: if true;
    }
  }
}
